.nav {
    &__link {
        color: #000000;
        font-size: 20px;
        font-weight: 500;

        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.6;
        }
    }

    &__list {
        display: flex;
		gap: 30px;
		align-items: center;
    }
}